.-fix-forms-field-title::before,.-input-password-ivid>.-show-password-item,.-password-status {
    top: 50%;
    transform: translateY(-50%);
    position: absolute
}

.-CheckBox-Box-Item span,.-Radio-Box-Item span {
    width: 18px;
    height: 18px;
    background: #a1a5a8;
    box-shadow: rgba(219,43,72,0) 0 0 0 3px;
    transform: translate(0,-50%)
}

.-PhoneNumber-Field-YC input[type=number] {
    text-align: left;
    direction: ltr
}

.-is-necessary input[type=text] {
    border: 1px solid #991229
}

.-fix-inputs-area.-is-necessary input,.-fix-inputs-area.-is-necessary textarea {
    animation: 1.5s is-necessary
}

@keyframes is-necessary {
    0%,60%,80% {
        border-color: var(--diver)
    }

    100%,40%,70% {
        border-color: var(--negative)
    }
}

.-fix-inputs-area {
    margin: 0 0 40px;
    flex-flow: column wrap;
    position: relative;
    display: flex;
    align-content: flex-start;
    align-items: flex-start
}

.-fix-inputs-area .iti__flag {
    margin-inline-end:7px}

.-fix-inputs-area .iti--separate-dial-code input[type=tel] {
    padding-inline-start:15px;direction: ltr
}

.-fix-inputs-area .iti--separate-dial-code .iti__selected-flag {
    background: 0 0;
    border-inline-start:1px solid var(--diver);padding-inline-start: 20px;
    border-radius: var(--miniradius) 0 0 var(--miniradius)
}

.-fix-inputs-area .iti--allow-dropdown {
    width: 100%;
    direction: ltr;
    flex: 1 1 0%
}

.-fix-inputs-area.-for-date-field {
    flex-flow: row wrap;
    align-content: center;
    align-items: center
}

.-fix-forms-field-title {
    display: flex;
    align-content: center;
    align-items: center;
    margin-bottom: 20px;
    flex-wrap: wrap;
    position: relative;
    padding-inline-start:15px}

.-password-status {
    text-align: center;
    border-radius: var(--largeradius);
    font-size: 13px;
    font-weight: 400;
    left: 55px;
    color: var(--item-uicolor)
}

.-Radio-Box-Item,.-Radio-Box-Item input[type=radio],necessary {
    border-radius: var(--miniradius)
}

.-input-password-ivid {
    display: flex;
    flex: 1;
    width: 100%;
    position: relative
}

.-input-password-ivid[passowrd-level="0"],.-input-password-ivid[passowrd-level="1"] {
    --item-uicolor: #e65054
}

.-input-password-ivid[passowrd-level="2"] {
    --item-uicolor: #f86368
}

.-input-password-ivid[passowrd-level="3"] {
    --item-uicolor: #f0c33c
}

.-input-password-ivid[passowrd-level="4"] {
    --item-uicolor: #68de7c
}

.-input-password-ivid input[type=password]:focus {
    border-color: var(--item-uicolor)
}

.-input-password-ivid>.-show-password-item {
    left: auto;
    color: var(--secondarytext);
    border-radius: var(--miniradius);
    cursor: pointer;
    width: 25px;
    text-align: center;
    transition: 180ms;
    font-size: 20px;
    margin-inline-start:calc(100% - 40px);line-height: 0
}

.-input-password-ivid>.-show-password-item:hover {
    color: var(--primary-text)
}

.-fix-forms-field-title::before {
    content: "";
    width: 6px;
    display: block;
    background: rgba(0,0,0,.06);
    border-radius: 10px;
    height: 16px;
    margin-inline-start:-16px;right: auto;
    left: auto
}

.-fix-forms-field-title>h3 {
    font-size: 17px;
    font-weight: 500;
    margin-inline-end:10px;line-height: 1.5
}

.-CheckBox-Box-Item em,.-Radio-Box-Item em {
    font-size: 15px;
    font-style: normal;
    transition: 180ms;
    /* white-space: nowrap; */
    line-height: 1.7;
}

.-fix-forms-field-title>descor {
    position: relative;
    color: #858497;
    cursor: pointer;
    display: flex;
    align-content: center;
    align-items: center
}

.-fix-forms-field-title>descor>i {
    font-weight: 300
}

necessary {
    display: block;
    min-width: 100%;
    margin-bottom: 10px;
    font-size: 12px;
    color: #991229;
    box-sizing: border-box
}

.-Radio-Box-InnerArea {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -5px;
    flex: 1 1 0%
}

.-Radio-Box-Item {
    display: flex;
    padding: 17px 50px 17px 20px;
    align-content: center;
    align-items: center;
    margin: 0 5px 10px;
    flex: 1 1 0%;
    min-width: max-content;
    position: relative;
    overflow: hidden;
    background: #fff
}

.-Radio-Box-Item input[type=radio] {
    position: absolute;
    width: 100%;
    height: 100%;
    right: 0;
    top: 0;
    z-index: 1;
    transition: 180ms;
    background: #fff;
    appearance: none;
    cursor: pointer;
    margin: 0!important
}

.-CheckBox-Box-Item input[type=checkbox]:checked,.-Radio-Box-Item input[type=radio]:checked {
    background: #0095ff12;
    border-color: #edf8ff;
}

.-Radio-Box-Item input[type=radio]:checked+span {
    transform: scale(1.2) translate(0,-39%);
    background: rgba(31,30,135,.18);
    box-shadow: rgb(255 255 255) 0 0 0 3px;
}

.-Radio-Box-Item em {
    display: block;
    position: relative;
    z-index: 1;
    font-weight: 400;
    color: var(--secondarytext);
}

.-CheckBox-Box-Item input[type=checkbox]:checked+span+em,.-CheckBox-Box-Item:hover em,.-Radio-Box-Item:hover em {
    color: #041c36
}

.-Radio-Box-Item input[type=radio]:checked+span+em {
    color: #363636
}

.-Radio-Box-Item span {
    display: block;
    border-radius: 50%;
    position: absolute;
    right: 17px;
    transition: 180ms;
    top: 50%
}

.-CheckBox-Box-Item:hover>span,.-Radio-Box-Item:hover>span {
    background: #041c36
}

.-Radio-Box-Item span::before {
    content: "";
    position: absolute;
    width: calc(100% - 6px);
    height: calc(100% - 6px);
    background: #fff;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 50%;
    box-shadow: rgba(0,0,0,.19) 1px 1px 2px;
    transition: 180ms
}

.-CheckBox-Box-Item input[type=checkbox]:checked+span::before,.-Radio-Box-Item input[type=radio]:checked+span::before {
    background: var(--uicolor)
}

.-Radio-Box-Item input[type=radio i] {
    border: 1px solid var(--diver);
    background: 0 0;
    outline: 0;
    box-shadow: 0 0;
    z-index: 2;
    display: block
}

.-Radio-Box-Item input[type=radio]::before,.-Radio-Box-Item input[type=radio]:checked::before {
    content: "";
    display: none
}

.-CheckBox-Box-InnerArea {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -5px
}

.-CheckBox-Box-Item {
    display: flex;
    padding: 13px 45px 13px 15px;
    align-content: center;
    align-items: center;
    margin: 0 5px 10px;
    border-radius: var(--largeradius);
    flex: 1 1 0%;
    min-width: max-content;
    position: relative;
    background: #fff
}

.-CheckBox-Box-Item input[type=checkbox] {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 2;
    border-radius: var(--largeradius);
    transition: 180ms;
    background: rgba(255,255,255,0);
    box-shadow: 0 0 0;
    display: block;
    appearance: none;
    cursor: pointer;
    width: 100%!important;
    height: 100%!important;
    margin: 0!important;
    border: 1px solid var(--diver)!important
}

.-CheckBox-Box-Item.Has-ParentChilds {
    min-width: 320px
}

.-CheckBox-Box-Item input[type=checkbox]:checked+span {
    transform: scale(1.2) translate(0,-39%);
    background: rgba(31,30,135,.16);
    box-shadow: rgba(31,30,135,.04) 0 0 0 3px
}

.-CheckBox-Box-Item em {
    display: block;
    position: relative;
    z-index: 1;
    font-weight: 400;
    color: #858497;
    flex: 1 1 0%
}

.-CheckBox-Box-Item span {
    display: block;
    border-radius: 30%;
    position: absolute;
    right: 15px;
    transition: 180ms;
    top: 50%
}

.-CheckBox-Box-Item span::before {
    content: "";
    position: absolute;
    width: calc(100% - 6px);
    height: calc(100% - 6px);
    background: #fff;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 30%;
    transition: 180ms
}

.-CheckBox-Box-Item span::after {
    content: var(--check-icon);
    position: absolute;
    font-family: "Font Awesome 6 Free";
    color: #fff;
    font-size: 18px;
    right: -1px;
    z-index: 1;
    visibility: hidden;
    opacity: 0;
    transition: 180ms;
    top: 50%;
    transform: translateY(-50%)
}

.-CheckBox-Box-Item input[type=checkbox]:checked+span::after,.-Select-Field-Code.active .-Select-DropDown-PoneNumber,.Select-Options-Items.active .-Select-DropDown,switchfield>input[type=checkbox]:checked~.Switch>strong {
    visibility: visible;
    opacity: 1
}

.-Select-DropDown,switchfield>.Switch>strong,switchfield>input[type=checkbox]:checked~.Switch>span {
    visibility: hidden;
    opacity: 0
}

.-CheckBox-Box-Item input[type=radio i] {
    border: 1px solid var(--diver);
    background: 0 0;
    outline: 0;
    box-shadow: 0 0;
    z-index: 2
}

.-CheckBox-Box-Item input[type=checkbox]::before {
    display: none!important
}

.-YC-Forms-button {
    display: flex;
    justify-content: flex-end;
    margin: 10px 0 0;
    position: sticky;
    bottom: 0;
    z-index: 2;
}

.-YC-Forms-button:before {
    content: '';
    position: absolute;
    right: 0;
    height: 100%;
    left: 0;
    background: linear-gradient(0deg, white, transparent);
    z-index: -1;
}

.-YC-Forms-button>.YC-BTN-Forms-Plugin {
    display: block;
    background: var(--positive);
    border: 0;
    padding: 13px 16px;
    border-radius: var(--largeradius);
    color: #fff;
    cursor: pointer;
    margin-right: 5px;
    font-size: 17px;
    font-weight: 400;
}

.-YC-Forms-button>.YC-BTN-Forms-Plugin>i {
    margin: 0 5px
}

.-YC-Forms-button>.YC-BTN-Forms-Plugin.Next-Step-Action {
    background: 0 0;
    color: #1a1a64
}

.Select-Options-Items {
    display: block;
    min-width: 170px;
    position: relative;
    flex: 1 1 0%
}

.Select-Options-Items>h2 {
    display: flex;
    padding: 20px 15px;
    justify-content: space-between;
    width: 100%;
    border: 1px solid var(--diver);
    border-radius: var(--miniradius);
    cursor: pointer;
    font-weight: 400;
    height: 60px;
    font-size: 14px;
    align-items: center;
    background: var(--bgcolor);
    overflow: hidden
}

.Select-Options-Items>h2>span {
    margin-inline-end:15px;display: block;
    flex: 1 1 0%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden
}

.Select-Options-Items>h2>span>.-field-select-image {
    margin-left: 10px;
    height: 32px;
    max-width: 32px;
    position: relative;
    overflow: hidden;
    border-radius: var(--miniradius);
    box-shadow: rgba(31,30,135,.02) 0 2px 3px,rgba(72,71,237,.06) 0 3px 10px;
    min-width: 32px;
    max-height: 32px
}

.-select-Code-number-title>span>.-field-select-image>img,.Select-Options-Items>h2>span>.-field-select-image>img {
    position: absolute;
    min-width: 100%;
    max-width: unset;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    min-height: 100%;
    max-height: 100%
}

.-Select-DropDown {
    position: absolute;
    background: rgb(255 255 255);
    box-shadow: rgb(0 0 0 / 2%) 0 2px 3px,rgb(0 0 0 / 6%) 0 8px 35px;
    border-radius: var(--miniradius);
    min-width: 240px;
    right: 0;
    padding: 10px;
    z-index: 90;
    top: calc(100% - -8px);
    max-height: 391px;
    margin: 0;
    display: flex;
    flex-flow: column wrap
}

.-Select-DropDown-PoneNumber .Lists-Select-Items-PoneNumber,.Select-Options-Items .Lists-Select-Items {
    position: relative;
    min-width: 100%;
    overflow: auto;
    margin: 0;
    max-height: 265px
}

.Select-Options-Items .Lists-Select-Items::-webkit-scrollbar {
    width: 4px;
    height: 4px
}

.Select-Options-Items .Lists-Select-Items::-webkit-scrollbar-thumb {
    background: linear-gradient(0deg,transparent 10%,transparent 0,transparent 90%,transparent 0)
}

.Select-Options-Items .Lists-Select-Items::-webkit-scrollbar-track {
    background: 0 0
}

.Select-Options-Items .Lists-Select-Items:hover::-webkit-scrollbar-thumb {
    background: linear-gradient(0deg,transparent 10%,rgba(0,0,0,.03) 0,rgba(0,0,0,.03) 90%,transparent 0)
}

.Lists-Select-Items-PoneNumber>li,.Select-Options-Items .Lists-Select-Items>li {
    display: flex;
    padding: 12px 13px;
    border: 1px solid transparent;
    border-radius: var(--miniradius);
    cursor: pointer;
    transition: 180ms;
    align-content: center;
    align-items: center;
    font-weight: 400;
    font-size: 14px;
    margin-bottom: 5px
}

.Select-Options-Items .Lists-Select-Items>li:hover {
    background: var(--uioverlaycolor)
}

.Select-Options-Items .Lists-Select-Items>li::before {
    content: var(--plus-icon);
    font-family: "Font Awesome 6 Free";
    font-size: 14px;
    color: var(--secondarytext);
    position: relative;
    margin-left: 10px;
    font-weight: 900;
    display: flex;
    align-content: center;
    align-items: center;
    line-height: 1.6
}

.Select-Options-Items .Lists-Select-Items>li.active::before {
    color: var(--uicolor)
}

.-Select-Cuntryes-Item .Select-Options-Items .Lists-Select-Items>li::before {
    display: none
}

.Select-Options-Items .Lists-Select-Items>li.active {
    background: var(--uioverlaycolor);
    border-color: var(--uioverlaycolor);
    color: var(--uicolor)
}

.Lists-Select-Items-PoneNumber>li .-field-select-image,.Select-Options-Items .Lists-Select-Items>li .-field-select-image {
    display: block;
    max-width: 32px;
    min-width: 32px;
    overflow: hidden;
    margin-left: 10px;
    border-radius: 50%;
    height: 32px;
    position: relative;
    border: 1px solid rgba(0,0,0,.12);
    box-shadow: rgba(0,0,0,.07) 0 2px 3px,rgba(0,0,0,.05) 0 3px 14px
}

.Select-Options-Items .Lists-Select-Items>li .-field-select-image>img {
    max-height: 100%;
    min-height: 100%;
    min-width: 100%;
    position: absolute;
    left: 50%;
    transform: translate(-50%,-50%);
    top: 50%;
    max-width: unset
}

.Select-Options-Items .Lists-Select-Items>li>em {
    font-size: 11px;
    color: var(--secondarytext);
    margin-right: 5px
}

switchfield {
    display: block;
    position: relative
}

switchfield>.Switch {
    display: block;
    width: 130px;
    position: relative;
    background: #e4e6eb0f;
    height: 50px;
    border-radius: 40px;
    color: #858497;
    cursor: pointer;
    transition: 180ms
}

switchfield>.Switch>span,switchfield>.Switch>strong {
    position: absolute;
    width: max-content;
    top: 50%;
    transform: translateY(-50%);
    left: 15px;
    font-size: 17px;
    font-weight: 300;
    transition: 180ms
}

switchfield>.Switch>strong {
    right: 15px;
    left: 0
}

switchfield>.Switch>em {
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    transform: translateY(-50%);
    right: 5px;
    background: var(--secondarytext);
    top: 50%;
    transition: 180ms
}

switchfield>input[type=checkbox]:checked~.Switch>em {
    transform: translate(-80px,-50%);
    background: #fff
}

switchfield>input[type=checkbox]:checked~.Switch {
    background: var(--uicolor);
    color: #fff
}

switchfield>input[type=checkbox] {
    position: absolute;
    width: 100%;
    height: 100%;
    background: 0 0;
    box-shadow: 0 0 0;
    z-index: 1;
    top: 0;
    right: 0;
    left: 0;
    display: block;
    appearance: none;
    cursor: pointer;
    border: 0!important
}

.-PhoneNumber-Field-YC {
    flex: 1 1 0%;
    display: flex;
    flex-wrap: wrap;
    width: 100%
}

.-Select-Field-Code {
    display: block;
    position: relative;
    margin-left: 15px;
    max-width: 180px;
    min-width: 180px
}

.-select-Code-number-title {
    display: flex;
    place-content: center space-between;
    width: 100%;
    border: 1px solid var(--diver);
    border-radius: var(--miniradius);
    cursor: pointer;
    height: 60px;
    align-items: center;
    background: #fff;
    box-sizing: border-box;
    margin: 0;
    overflow: hidden;
    padding: 20px 15px!important;
    font-weight: 500!important;
    font-size: 14px!important;
    line-height: unset!important
}

.-select-Code-number-title>span {
    margin-left: 10px;
    display: flex;
    place-content: center flex-start;
    align-items: center;
    flex: 1 1 0%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    max-width: 100%
}

.-select-Code-number-title>span>span {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    justify-content: flex-start;
    display: block
}

.-select-Code-number-title>span em {
    font-style: unset;
    font-size: 11px
}

.-select-Code-number-title>span>.-field-select-image {
    margin-left: 10px;
    height: 32px;
    min-width: 32px;
    position: relative;
    overflow: hidden;
    border-radius: var(--miniradius);
    box-shadow: rgba(31,30,135,.02) 0 2px 3px,rgba(72,71,237,.06) 0 3px 10px
}

.-Select-DropDown-PoneNumber {
    position: absolute;
    visibility: hidden;
    opacity: 0;
    background: #fff;
    box-shadow: rgba(31,30,135,.02) 0 2px 3px,rgba(72,71,237,.06) 0 8px 35px;
    border-radius: var(--largeradius);
    min-width: 250px;
    right: 0;
    padding: 10px;
    z-index: 90;
    top: calc(100% - -8px);
    max-height: 390px;
    margin: 0;
    display: flex;
    flex-flow: column wrap
}

.Lists-Select-Items-PoneNumber>li:hover {
    background: #f4f4f4;
    color: #041c36
}

.Lists-Select-Items-PoneNumber>li.active {
    background: #f3f3ff;
    border-color: rgba(31,30,135,.02);
    color: var(--uicolor)
}

.Lists-Select-Items-PoneNumber>li em {
    color: #464646;
    font-style: normal
}

.Lists-Select-Items-PoneNumber>li .-field-select-image>img {
    max-width: unset;
    max-height: 100%;
    min-height: 100%;
    position: absolute
}

.Lists-Select-Items-PoneNumber:hover::-webkit-scrollbar-thumb {
    background: linear-gradient(0deg,transparent 10%,rgba(0,0,0,.03) 0,rgba(0,0,0,.03) 90%,transparent 0)
}

.Lists-Select-Items-PoneNumber::-webkit-scrollbar-thumb {
    background: linear-gradient(0deg,transparent 10%,transparent 0,transparent 90%,transparent 0)
}

.Lists-Select-Items-PoneNumber::-webkit-scrollbar-track {
    background: 0 0
}

.Lists-Select-Items-PoneNumber::-webkit-scrollbar {
    width: 4px;
    height: 4px
}

.-select--posts--top-area {
    display: flex;
    align-items: stretch;
    border-radius: var(--largeradius);
    flex-direction: column;
    width: 100%
}

.--result-my-fix-posts-select {
    width: 0;
    align-items: center;
    overflow: hidden;
    border-radius: var(--largeradius);
    background: #f5faff;
    height: 0
}

.-Your-selected-title {
    min-width: 100px;
    max-width: 100px;
    font-size: 22px;
    line-height: 1.3;
    margin-inline-end:40px;font-weight: 400;
    color: var(--primary-text)
}

.-scroller-slider-findors-UL {
    display: block;
    flex: 1;
    overflow: hidden;
    margin: -20px;
    position: relative
}

.-fix-selcted-items {
    display: flex;
    flex-wrap: nowrap;
    max-width: 100%;
    overflow: auto;
    padding: 20px
}

.-result-searching-too {
    display: block;
    margin-top: 30px;
    font-size: 23px;
    color: var(--secondarytext)
}

.-result-searching-too:empty {
    display: none;
    margin-top: 0
}

.-searching--result--selected {
    display: flex;
    background: #fff;
    margin: 10px -10px -10px;
    flex-wrap: wrap
}

.-searching--result--selected .-currrent-single-elements:last-child {
    margin-bottom: 0
}

.--platforms-select-Box.active {
    color: var(--uicolor);
    border-color: var(--uicolor)
}

.--platforms-select-Box {
    display: flex;
    padding: 25px;
    background: #fff;
    margin: 15px;
    border-radius: var(--largeradius);
    position: relative;
    align-items: center;
    cursor: pointer;
    transition: 80ms;
    border: var(--border-defult);
    box-shadow: var(--box-shadow-defult);
    flex: 1;
    min-width: max-content;
    font-size: 18px;
    color: var(--secondarytext)
}

.--platforms-select-Box: not(.active):hover {
    border-color:var(--border-defult-hover);
    box-shadow: var(--box-shadow-hover);
    transition: 280ms;
    color: var(--primary-text)
}

.-searching--result--selected .--platforms-select-Box {
    margin: 10px
}

.-aps--tools-action {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    z-index: 1;
    cursor: pointer;
    display: none
}

.-searching--result--selected .--platforms-select-Box .-aps--tools-action {
    display: block
}

.Thumb--II {
    display: flex;
    --elem-w: 40px;
    min-width: var(--elem-w);
    max-width: var(--elem-w);
    height: var(--elem-w);
    position: relative;
    overflow: hidden;
    border-radius: var(--miniradius);
    background: #f7f7f7;
    margin-inline-end:15px;align-items: center;
    justify-content: center
}

.--platforms-select-Box.active .Thumb--II {
    color: var(--secondarytext);
    --elem-w: 38px
}

.Thumb--II>.-avatar-append-image {
    display: block
}

.Thumb--II>.-avatar-append-image>i {
    font-style: normal
}

.--platforms-select-Box-box-title {
    flex: 1;
    display: block;
    overflow: hidden
}

.--platforms-select-Box>.--platforms-select-Box-box-title>a {
    display: block;
    text-decoration: none;
    font-size: 19px;
    color: var(--secondarytext)!important;
    z-index: 2;
    font-weight: 400;
    transition: 180ms;
    line-height: 1.4;
    text-overflow: ellipsis;
    max-width: 100%;
    overflow: hidden;
    white-space: nowrap
}

.--platforms-select-Box.active>.--platforms-select-Box-box-title>a {
    color: var(--primary-text)!important;
    font-size: 18px
}

.-remove-custom-post-select-tools {
    display: flex;
    margin-inline-start:15px;font-size: 20px;
    color: var(--secondarytext);
    z-index: 2;
    cursor: pointer;
    transition: 180ms;
    min-width: 38px!important;
    max-width: 38px!important;
    text-align: center;
    border-radius: 50%;
    overflow: hidden;
    opacity: .6;
    box-sizing: border-box;
    max-height: 38px!important;
    min-height: 38px!important;
    justify-content: center;
    align-items: center
}

.-searching--result--selected .-remove-custom-post-select-tools {
    display: none
}

.AjaxSearchCenter {
    display: flex;
    align-content: center;
    align-items: center;
    border-bottom: 1px solid var(--diver);
    margin-bottom: 10px;
    padding: 0 10px
}

.-fix-inputs-area .AjaxSearchCenter input[type=text] {
    min-height: 50px;
    border-top: 0!important;
    border-right: 0px!important;
    border-left: 0!important;
    border-image: initial!important;
    border-bottom: 0 solid var(--diver)!important;
    border-radius: 0!important;
    padding: 0 10px!important
}

.AjaxSearchCenter::before {
    content: var(--check-icon);
    position: relative;
    display: block;
    font-size: 25px;
    font-family: "Font Awesome 6 Free";
    font-weight:900;
    margin-left: 4px
}


.alert {
    display: block;
    width: 100%;
    padding: 20px;
    margin-bottom: 20px;
    color: var(--positive);
    background: #31a24c12;
}

.alert.element-alert-danger {
    background: #db113324;
    color: var(--negative);
    border-radius: var(--miniradius);
}
new--necessay {
    display: block;
    color: var(--negative);
    width: 100%;
    margin-top: 20px;
}